<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>参数转为字典</title>
<style type="text/css">
div.main
{color:green;
position:relative;
top:20px;
line-height: 40px;
border: yellow solid thin;
outline-style:dotted;
outline-color:#00ff00;
vertical-align:center}

form{
vertical-align:center
}


</style> 
{% load static %}
<link  rel="stylesheet" type="text/css" href="{% static 'webpage/jquery.jsonview.css' %}"/>
<script src="{% static 'webpage/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'webpage/jquery.jsonview.js' %}"></script>

</head>
<body>

<div class="main">
<form action="/web/params2Dict/" method="post">
{% csrf_token %}
{{ pdforms.as_ul }}
<li><input type="submit" value="请求转换"/></li>

</form>
</div>

<br>
<br>
<br>
<br>
<br>

{% if result %}
<p>{{ result }}</p>
{% endif %}



</body>
</html>